

<h1><p style="text-align:center;">Welcome to EasyPlay!!</p></h1>
<p style="text-align:center;">Best website to sponsor or begin a theater play</p>
<br/>
<br/>
<br/>
   <p style="text-align:center;">Are you a actor that wants to be in a play?</p><br />
   <p style="text-align:center;">Are you a producer that wants to manage a play?</p><br />
   <p style="text-align:center;">Are you a theater that wants to run a play?</p><br />
   <p style="text-align:center;">Are you a sponsor that wants to sponsor a play?</p><br /><br /><br />
  <p style="text-align:center;">Then <b>EasyPlay</b> is the best site for you!!</p>

