<h1 id="tableLabel">Add producer</h1>


<table class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Producer name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="producer.name" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label> Age</mat-label>
        <input matInput placeholder="Age" [(ngModel)]="producer.age" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label> Nationality</mat-label>
        <input matInput placeholder="Nationality" [(ngModel)]="producer.nationality" />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="producer.gender">
          <mat-option value="Male"> Male </mat-option>
          <mat-option value="Female"> Female </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
</table>

<button mat-raised-button style="background-color:#0059d4;color: white" (click)="saveProducer()">Save Producer</button>
